@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000000;
  --secondary-color: #FFFFFF;
  --accent-color: #3B82F6;
}

html, body, #__next {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}